{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
 
 <style>
    /* ##################################
    #               BASICS              #
    #                                   #
    ##################################### */
    p {
        margin: 0;
    }
            
    /* ##################################
    #    HEADER (titre)                 #
    #                                   #
    ##################################### */
                
    h1 {
        font-family: "DunbarLow";
        font-size: 22px;
        text-transform: uppercase;
        text-align: center;
    }
                
    /* #################################
    #   Email + Form                   #
    #################################### */
                
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
    }
    .fill {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    label {
        font-family: "Futura";
        font-size: 20px;
        margin-bottom: 10px;
    }
    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        font-size: 16px;
        border: none;
        box-shadow: 0 6px 8px rgba(0,0,0,.16);
        border-radius: 6px;
    }
    
    /* #################################
    #   Bouton du bas                  #
    #################################### */

    .login-button {
        box-shadow: 0 6px 8px rgba(0,0,0,.16);
        background: white;
        border-radius: 6px;
        border: none;
        font-size: 16px;
        font-family: "Futura";
        font-weight: 700;
        padding: 10px 20px;
        cursor: pointer;
    }
</style>

<div class="container">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1>CONNEXION</h1>
        <main>
            <div class="fill">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="ex: votrenom@mail.com" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="******" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
            </div>

            <button class="login-button" type="submit">
                Connexion
            </button>
        </main>
    </form>
</div>
 

 <!-- Partie Driss -->
 
 
 {#<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    {#<button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form> #}
{% endblock %}
