{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    
<style>
    /* ##################################
    #               BASICS              #
    ##################################### */
        p {
            margin: 0;
            font-family: Futura;
            font-size: 20px;
        }            
    /* ##################################
    #    HEADER                         #
    ##################################### */
        h1 {
            font-family: "DunbarLow";
            font-size: 22px;
            text-transform: uppercase;
            text-align: center;
        }
    /* ##################################
    #    IMAGE                          #
    ##################################### */
        img {
            width: 80%;
            margin: 10px auto 0;
            display: block;
        }

    /*######################################
    # FORMULAIRES pris de  la page LOGIN  #
    ##################################### */
        label {
            font-family: "Futura";
            font-size: 20px;
            display: block;
            margin-bottom: 10px;
        }
        input, select {
            width: 100%;
            padding: 10px;
            font-weight: 200;
            border-radius: 6px;
            border: none;
            box-shadow: 0 6px 8px rgba(0,0,0,.16);
            margin-bottom: 20px;
        }
        select {
            margin-bottom: 40px;
        }
        .btn {
            width: 60%;
            display: block;
            padding: 15px;
            background: white;
            box-shadow: 0 6px 8px rgba(0,0,0,.16);
            border: none;
            border-radius: 6px;
            margin: 20px auto 30px;
            font-family: "Futura";
            font-size: 16px;
            font-weight: 700;
        }
        #registration_form_agreeTerms {
            width: auto;
        }
        label[for="registration_form_agreeTerms"] {
            width: auto;
            display: inline-block !important;
            margin-right: 10px;
        }

        #registration_form_interests_0_category_1:checked ~ label[for="registration_form_interests_0_category_1"],
        #registration_form_interests_0_category_2:checked ~ label[for="registration_form_interests_0_category_2"],
        #registration_form_interests_0_category_3:checked ~ label[for="registration_form_interests_0_category_3"],
        #registration_form_interests_0_category_4:checked ~ label[for="registration_form_interests_0_category_4"],
        #registration_form_interests_0_category_5:checked ~ label[for="registration_form_interests_0_category_5"],
        #registration_form_interests_0_category_6:checked ~ label[for="registration_form_interests_0_category_6"] {
            border: 2px solid #000;
        }

        label[for="registration_form_interests_0_category_1"] {
            background: #aae7f8;
        }
        label[for="registration_form_interests_0_category_2"] {
            background: #f5f292;
        }
        label[for="registration_form_interests_0_category_3"] {
            background: #e2c9ff;
        }
        label[for="registration_form_interests_0_category_4"] {
            background: #ffc591;
        }
        label[for="registration_form_interests_0_category_5"] {
            background: #ff9fb3;
        }
        label[for="registration_form_interests_0_category_6"] {
            background: #b0ebab;
        }

        .interest{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .interest label{
            width: 45%;
            text-align: center;
            padding: 30px 0;
            margin-bottom: 20px;
            border-radius: 6px;
            border: 2px solid transparent;
            box-shadow: 0 6px 8px rgba(0,0,0,.16);
        }
        .interest label::first-letter{
            text-transform: uppercase;
        }
        .interest input{
            position: absolute;
            left: -2000px;
        }
    
    /* ##################################
    #    BOUTONS DU BAS (sauvegarder)   #
    ##################################### */
    
</style> 

<div class="container">
    <!-- Titre -->
    <header>
        <h1>inscription</h1> 
    </header>

    <main>
        <!-- Image png -->
        <img src="{{ asset('assets/img/perso_couleur.png') }}">
        <!-- Formulaires -->
        {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm) }}
            <button class="btn">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </main> 
</div>

{% endblock %}
