{% extends 'base.html.twig' %}

{% block title %}Interest index{% endblock %}

{% block body %}
    <h1>Interest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Xp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for interest in interests %}
            <tr>
                <td>{{ interest.id }}</td>
                <td>{{ interest.xp }}</td>
                <td>
                    <a href="{{ path('interest_show', {'id': interest.id}) }}">show</a>
                    <a href="{{ path('interest_edit', {'id': interest.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('interest_new') }}">Create new</a>
{% endblock %}
