{% extends 'base.html.twig' %}

{% block title %}Confidentialité{% endblock %}

{% block body %}
<style>

    /* ####################################
    #               HEADER                #
    ####################################### */
        header {
            display:flex;
            align-items: center;
            margin: 10px 0 30px;
        }
        .arrow_left {
            display: block;
            width: 25px;
        }
        .arrow_left img {
            width: 25px;
            display: block;
        }
        h1 {
            text-align: center;
            margin: 0 50px;
            font-family: "DunbarLow";
            text-transform: uppercase;
            font-size: 22px;
            letter-spacing: 2px;
            flex-grow: 1;
        }
        header span {
            display: block;
            width: 25px;
        }
    
    /* ####################################
    #               MAIN                  #
    ####################################### */
        main {
            margin-bottom: 30px;
        }
        h2 {
            font-weight: 700;
            font-size: 16px;
        }
        main p {
            font-size: 16px;
        }
</style>

<!-- <a href="{{ path('settings_user') }}">Previous</a> -->
<div class="container">
    <!-- header -->
    <header>
        <a class="arrow_left" href="{{ path('settings_user') }}"><img src="{{ asset('assets/img/arrow_left.png') }}"></a>
        <h1>Charte de Confidentialité</h1>
        <span></span>
    </header>

    <!-- Contenu (texte) -->
    <main>
        <h2>Généralités</h2>
        <p>
            La SSR considère qu’il est important que ses utilisateurs sachent quel genre
            de données personnelles sont collectées et traitées, à quel moment et à quelles fins.
        </p>
        <p>
            La SSR se réserve le droit d’adapter de temps à autre la présente déclaration de protection
            des données. Nous vous demandons donc de vous y reporter régulièrement. La date de mise à 
            jour se trouve au début du présent document.
        </p>

        <h2>Qu’entend-on par données personnelles?</h2>
        <p>
            Les données personnelles sont toutes les informations se rapportant à une personne physique
            identifiée ou identifiable (p. ex. son nom, son adresse, son numéro de téléphone, sa date de 
            naissance ou encore son adresse e-mail).
        </p>
        <p>
            La SSR se réserve le droit d’adapter de temps à autre la présente déclaration de protection
            des données. Nous vous demandons donc de vous y reporter régulièrement. La date de mise à 
            jour se trouve au début du présent document.
        </p>

        <h2>A quelles fins les données personnelles sont-elles traitées?</h2>
        <p>
            Mise à disposition de l’offre en ligne pour les utilisateurs
            Sécurité des données et optimisation de l’offre en ligne (p. ex. études de marché et mesures d’audience)
            Personnalisation de l’offre en ligne pour les utilisateurs de cette dernière
            Envoi de lettres d’information par e-mail
            Organisation de jeux
            Sécurité des données des utilisateurs de l’offre en ligne
        </p>

        <h2>Sur quelles bases juridiques la SSR traite-t-elle des données personnelles?</h2>
        <p>
            En principe, nous transmettons vos données personnelles à des tiers uniquement si nous disposons de votre 
            consentement ou qu’il existe un intérêt légitime de notre part.
        </p>
        <p>
            De plus, nous pouvons transmettre des données à des tiers si nous y sommes contraints en vertu de dispositions
            légales ou d’une décision administrative ou judiciaire exécutoire.
        </p>

        <h2>Transmission de données personnelles à des tiers</h2>
        <p>
            Nous faisons appel à des prestataires pour le traitement de données. En règle générale,
            ces prestataires sont mandatés comme sous-traitants et tenus de respecter nos instructions
            lors du traitement des données personnelles des utilisateurs de notre offre en ligne. Ainsi,
            votre adresse e-mail peut être transmise à un prestataire afin qu’il puisse vous faire parvenir
            la lettre d’information que vous avez commandée.
        </p>

        <h2>Des tiers participent-ils au traitement de données?</h2>
        <p>
            Nous transmettons des données personnelles également à des tiers ou des sous-traitants qui ont
            leur siège en dehors de la Suisse ou de pays de l’UE ou de l’EEE. Dans ce cas, nous vérifions, 
            avant de communiquer les données, si le destinataire offre un niveau adéquat de protection des 
            données (par exemple sur la base d’une décision d’adéquation pour le pays en question, l’auto-certification
            du destinataire au CH-US-Privacy Shield (cadre régissant la transmission de données personnelles par une 
            entreprise suisse à une entreprise aux Etats-Unis), l’utilisation de clauses contractuelles standard de l’Union
            européenne ou du contrat type du Préposé fédéral à la protection des données et à la transparence (PFPDT)) ou
            si nous disposons du consentement de nos utilisateurs.
        </p>

        <h2>Les données personnelles sont-elles communiquées à 
        des destinataires se trouvant dans un pays tiers (hors CH/UE/EEE)?</h2>
        <p>
            Mise à disposition de l’offre en ligne pour les utilisateurs
            Sécurité des données et optimisation de l’offre en ligne (p. ex. études de marché et mesures d’audience)
            Personnalisation de l’offre en ligne pour les utilisateurs de cette dernière
            Envoi de lettres d’information par e-mail
            Organisation de jeux
            Sécurité des données des utilisateurs de l’offre en ligne
        </p>

        <h2>Combien de temps la SSR conserve-t-elle les données personnelles?</h2>
        <p>
            Nous conservons vos données tant que cela est nécessaire pour la fourniture de notre offre en
            ligne et des prestations correspondantes ou en raison de notre intérêt légitime de stocker ces données.
            Dans tous les autres cas, nous supprimons vos données personnelles, hormis celles que nous devons conserver 
            conformément à nos obligations légales (p. ex. obligation de conserver).
        </p>

        <h2>Contact pour la protection des données</h2>
        <p>
            Si vous souhaitez obtenir des renseignements au sujet de la protection des
            données ou si vous avez des suggestions, n’hésitez pas à vous adresser à nous
            ou à nos conseillers en matière de protection de données en envoyant un e-mail
            à protectiondesdonnes@rts.ch.
        </p>
        <p>
            Au cas où vous souhaiteriez nous contacter, voici nos coordonnées: RTS Radio Télévision Suisse
        </p>
        <p>
            Quai Ernest-Ansermet 20, Case postale 234, CH-1211 Genève, Tél.: +41 58 236 36 36
        </p>

        <h2>Responsabilités</h2>
        <p>
            Dans la mesure autorisée par la loi, la SSR n’est responsable ni des données et informations
            diffusées sur ses plateformes Internet, ni des dommages qui peuvent en résulter. Cette règle 
            s’applique à tous les types de dommages, en particulier ceux liés à des erreurs, des retards ou
            des interruptions de la diffusion, des dérangements de l’infrastructure, des contenus inexacts,
            la perte ou la suppression de données, des virus ou tout autre dommage de même nature lié à l’utilisation
            des plateformes Internet de la SSR.
        </p>
        <p>
            La SSR peut créer des liens vers des sites de tiers à des fins informatives. Dans ce cas, 
            elle ne peut être tenue pour responsable des contenus, de l’exactitude, de la légalité et de la
            fonctionnalité des sites de tiers auxquels ses plateformes Internet renvoient via des liens ou
            des outils. L’utilisateur accède à ces pages à ses risques et périls.
        </p>

        <h2>Contact pour la protection des données</h2>
        <p>
            Si vous souhaitez obtenir des renseignements au sujet de la protection des
            données ou si vous avez des suggestions, n’hésitez pas à vous adresser à nous
            ou à nos conseillers en matière de protection de données en envoyant un e-mail
            à protectiondesdonnes@rts.ch.
        </p>
        <p>
            Nous faisons appel à des prestataires pour le traitement de données. En règle générale,
            ces prestataires sont mandatés comme sous-traitants et tenus de respecter nos instructions
            lors du traitement des données personnelles des utilisateurs de notre offre en ligne. Ainsi,
            votre adresse e-mail peut être transmise à un prestataire afin qu’il puisse vous faire parvenir
            la lettre d’information que vous avez commandée.
        </p>
    </main>
</div>
        <!-- <p> blablablablabla </p> -->

{% endblock %}