{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block head %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>{% endblock %}

{% block body %}

<style>
    /* #################################
       #           BASICS              #
       ################################# */
        p {
            margin: 0;
        }
    /* #################################
       #           Header              #
       ################################# */
        header {
            display:flex;
            align-items: center;
            margin: 30px 0 30px;
        }
        h1 {
            text-align: center;
            margin: 0;
            font-family: "DunbarLow";
            text-transform: uppercase;
            font-size: 22px;
            letter-spacing: 2px;
            flex-grow: 1;
        }
        .level {
            display: flex;
            height: 20px;
            flex-grow: 1;
            margin-right: 30px;
            font-size: 16px;
        }
        .xp_total {
            flex-grow: 1;
            border: 1px solid black;
            border-radius: 5px;
            margin: 0 5px;
            box-sizing: border-box;
        }
        .xp_actuel {
            position: relative;
            top: 0px;
            display: block;
            border-radius: 3px;
            background: #000;
            width: {{app.user.xp}}%;
            height: 100%;
            text-align: right;
        }
        .xp {
            color: white;
            padding-right: 3px;
        }
    /* #################################
       #   Notification de l'avatar    #
       ################################# */
        main {
            margin-top: 50px;
        }
        .msg-avatar {
            position: relative;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 6px 8px rgba(0,0,0,.16);
            padding: 20px;
        }
        .subtitle {
            font-size: 20px;
            font-family: "Futura";
            font-weight: 400;
        }
        .annonce {
            font-weight: 400;
        }
        .event{
            margin-top: 20px;
        }
        .event_category {
            font-family: "Futura";
            color: #D0FECD;
        }
        .event_category::first-letter {
            text-transform: uppercase;
        }
        ._sport {
            color: #ff9fb3;
            border-color: #ff9fb3 !important;
        }
        ._exploration {
            color: #ffc591;
            border-color: #ffc591 !important;
        }
        ._education {
            color: #aae7f8;
            border-color: #aae7f8 !important;
        }
        ._festif {
            color: #f5f292;
            border-color: #f5f292 !important;
        }
        ._culturel {
            color: #e2c9ff;
            border-color: #e2c9ff !important;
        }
        ._bien-etre {
            color: #b0ebab;
            border-color: #b0ebab !important;
        }


        .event_title {
            font-weight: 700;
        }
        .event_action {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
        }
        .event_action a{
            text-decoration: none;
            color: #000;
            width: 40%;
            text-align: center;
            font-size: 12px;
            padding: 8px;
            border: 1px solid #D0FECD;
            border-radius: 5px;
        }
        .bulle{
            position: absolute;
            top: calc(100% - 21px);
            left: 50px;
            width: 0;
            height: 0;
            border-top: 31px solid transparent;
            border-bottom: 31px solid transparent;
            border-left: 31px solid #fff;
            transform: rotate(-45deg);
        }
    

    /* #################################
       #      IMAGE DE L'AVATAR        #
       ################################# */
    
        .img-avatar {
            margin: 30px auto 40px;
            width: 124px;
            position: relative;
        }
        .img-avatar img{
            width: 100%;
        }
        .img-avatar img.absolute, svg{
            position: absolute;
            top: 0;
            left: 0;
        }
        svg {
            fill: red !important;
        }
    
    /* #################################
       #            CARD               #
       ################################# */

        .news {
            text-align: center;
            margin-bottom: 20px;
        }

        .card {
            border-radius:10px;
            position: relative;
            box-shadow: 0 6px 8px rgba(0,0,0,.16);
            padding: 10px 20px;
            margin-bottom: 20px;
        }
        .header_card {
            display: flex;
            justify-content: space-between;
        }
        .card_date {
            font-size: 12px;
            align-self: flex-end;
        }
        .new::before{
            content: 'NEW';
            display: block;
            padding: 3px 7px;
            border-radius: 6px;
            position:absolute;
            top: 0;
            right: 0;
            transform: translate(30%, -50%);
            background: red;
            color: white;
            font-size: 12px;
            font-family: 'Futura';
        }
        .card a::before {
            content: '';
            position: absolute;
            top:0; left:0; right:0; bottom:0;
        }
        .nonews {
            text-align: center;
        }
</style>

<div class="container">
    <header>

        <div class="level">
            <span>Niv1</span>
            <span class="xp_total">
                <span class="xp_actuel">
                </span>
            </span>
            <span>{{ app.user.xp }}xp</span>
        </div>
        <!-- Menu Burger -->
        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <li><a href="{{ path('homepage') }}">Accueil</a></li>
                            <li><a href="{{ path('news_index') }}">Actualité</a></li>
                            <li><a href="{{ path('profil_user') }}">Profil</a></li>
                            <li><a href="{{ path('rules_index') }}">Règles à suivre</a></li>
                        </ul>
                        <img class="img_menu" src="{{ asset('assets/img/menu_burger_perso.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <main>
        <!-- Menu déroulant qui informe des informations du jour -->
        <div class="msg-avatar">
            <p class="subtitle">{{ app.user.avatarname }}</p>
            <p class="annonce">Hey !! Voici les nouvelles du jour que j'ai trouvées pour toi.</p>
            {% for event in events %}
                <div class="event">
                    <p class="event_category _{{ event.tag }}">{{ event.tag }}</p>
                    <p class="event_title">{{ event.title }}</p>
                    <p>{{ event.description }}</p>
                    <div class="event_action">
                        <a class="_{{ event.tag }}" href="{{ path('event_accept', {'id': event.id}) }}">OUI</a>
                        <a class="ajax_call _{{ event.tag }}" href="{{ path('event_reject', {'id': event.id}) }}">NON</a>
                    </div>
                </div>
            {% endfor %}
            <div class="bulle"></div>
        </div>

        <!-- Image de l'avatar -->
        <div class="img-avatar">
            <img src="{{ asset('assets/img/img-' ~ app.user.avatar ~ '.svg') }}">
            {% for event in eventsAccepted %}
                {% if event.getEvent.getId == 1 %}
                    <svg version="1.1" id="Calque_7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 350 440" style="enable-background:new 0 0 350 440;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#FCF797;}
                            .st1{opacity:0.37;fill:#FFFFFF;}
                            .st2{fill:none;stroke:#141412;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                        </style>
                        <polyline class="st0 {{ app.user.avatar }}" points="97.71,58.81 108.43,81.87 109.87,86.92 90.69,102.89 76.78,124.38 74.2,136.35 78.87,139.29 
                            108.31,127.96 118.17,125.17 122.59,128.24 123.94,132.47 133.46,122.88 153.14,99.09 154.35,114.16 158.56,113.59 162.33,104.13 
                            161.57,90.68 132.56,76.2 97.71,58.81 "/>
                        <polyline class="st1" points="97.71,58.35 108.43,81.41 109.87,86.47 90.69,102.44 76.78,123.92 74.2,135.9 78.87,138.84 
                            108.31,127.51 118.17,124.72 122.59,127.79 123.94,132.02 133.46,122.42 153.14,98.64 154.35,113.71 158.56,113.13 162.33,103.68 
                            161.57,90.23 132.56,75.75 97.71,58.35 "/>
                        <path class="st2" d="M95.89,57.9l65.67,32.78c0,0,2.52,15.04-1.56,21.11c-7.36,10.93-6.86-12.69-6.86-12.69
                            s-30.92,40.47-30.49,30.49c0.83-19.18-59.96,32.2-46.78-2.9s38.08-33.09,33.56-42.73C106.5,77.68,95.89,57.9,95.89,57.9z"/>
                    </svg>
                {% endif %}
                {% if event.getEvent.getId == 2 %}
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" 
                    viewBox="0 0 350 440" style="enable-background:new 0 0 350 440;" xml:space="preserve">
                        <style type="text/css">
                            .st24{fill:#D995A0;}
                            .st25{opacity:0.25;fill:#FFFFFF;}
                            .st26{fill:none;stroke:#141412;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                        </style>
                        <g id="Calque_11">
                            <polyline class="st24 {{ app.user.avatar }}" points="81.35,290.23 78.08,291.97 77.12,300.61 78.43,307.8 82.09,324.61 84.3,332.16 90.61,336.06 
                                107.64,334.56 130.7,325.86 156.36,313.6 177.87,303 196.08,293.1 214.42,282.74 241.28,266.33 260.87,255.12 270.82,248.39 
                                273.39,245.82 289.42,237.26 299.26,242.97 309.92,244.05 317.95,236.94 317.48,231.81 310.14,231.81 293.85,235.2 293.83,232.42 
                                301.24,222.46 304.62,216.21 304.36,212.34 299.26,213.21 294.32,218.76 290.37,230.42 289.66,235.78 285.69,238.43 270.55,246.29 
                                249.67,256.28 217.9,271.46 193.13,280.99 167.78,286.85 147.51,289.13 121.56,290.14 102.05,290.23 81.35,290.23 	"/>
                            <polyline class="st25" points="81.35,290.23 78.08,291.97 77.12,300.61 78.43,307.8 82.09,324.61 84.3,332.16 90.61,336.06 
                                107.64,334.56 130.7,325.86 156.36,313.6 177.87,303 196.08,293.1 214.42,282.74 241.28,266.33 260.87,255.12 270.82,248.39 
                                273.39,245.82 289.42,237.26 299.26,242.97 309.92,244.05 317.95,236.94 317.48,231.81 310.14,231.81 293.85,235.2 293.83,232.42 
                                301.24,222.46 304.62,216.21 304.36,212.34 299.26,213.21 294.32,218.76 290.37,230.42 289.66,235.78 285.69,238.43 270.55,246.29 
                                249.67,256.28 217.9,271.46 193.13,280.99 167.78,286.85 147.51,289.13 121.56,290.14 102.05,290.23 81.35,290.23 	"/>
                            <path class="st26" d="M289.42,237.26c0,0-38.97,18.63-67.79,32.45c-46.89,22.48-80.1,20.47-143.55,20.47"/>
                            <path class="st26" d="M78.08,290.19c0,0-3.92,11.64,0.56,19.65c6.72,12.02,0.06,17.01,7.11,23.98
                                c21.19,20.97,203.67-96.56,203.67-96.56"/>
                            <path class="st26" d="M289.42,237.26c0,0,3.52-25.85,13.3-24.9S289.42,237.26,289.42,237.26"/>
                            <path class="st26" d="M289.42,237.26c22.71,17.03,30.64-0.93,29.07-4.72C316.91,228.76,289.42,237.26,289.42,237.26z"/>
                        </g>
                    </svg>
                {% endif %}
                {% if true %}
                    <img class="absolute" src="{{ asset('assets/img/base.svg') }}">
                {% endif %}

            {% else %}
                <img class="absolute" src="{{ asset('assets/img/base.svg') }}">
            {% endfor %}
        </div>
        <!-- Les nouvelles du jour -->
        <p class="news subtitle">Les nouvelles du jour</p>
    
        {% for new in news %}
            {% if new.publishingDate | date('Y-m-d') == "now" | date('Y-m-d') %}
            <div class="card {{ new.tag.name }} new">
            {% else %}
            <div class="card {{ new.tag.name }}">
            {% endif %}
                <div class="header_card">
                    <p class="subtitle">{{ new.tag.name }}</p>
                    <p class="card_date">{{ new.publishingDate ? new.publishingDate|date('d.m.y') : '' }}</p>
                </div>
                <p>{{ new.title }}</p>
                <a href="{{ path('news_show', {'id': new.id}) }}"></a>
            </div>
        {% else %}
            <p class="nonews">Pas de nouvelle actualité à vous montrer</p>
        {% endfor %}
    </main>
</div>
<script>
    $('.ajax_call').click(function(e){
        e.preventDefault();
        let link = $(this).attr('href');
        console.log(link);
        $.ajax(link);
        $(this).closest('.event').hide();

    })
</script>
{#
<div class="example-wrapper">
    <h1>Hello {{ app.user }}! ✅</h1>
     <p>Vos centres d'intérêt sont : 
        <ul>
        {% for interests in app.user.interests %}
            <li>{{interests}} : {{interests.xp}}xp</li>
        {% endfor %}
        </ul>
    </p>
    <p>Votre xp est de : {{app.user.xp}}.</p>
    <p>Votre avatar est : {{app.user.avatar}}</p>
    <ul>
        <li><a href="{{ path('events_index') }}">events</a></li>
        <li><a href="{{ path('news_index') }}">news</a></li>
        <li><a href="{{ path('rules_index') }}">rules</a></li>
    </ul>
</div> #}
{% endblock %}
