{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}



<style>
    /* ##################################
    #               BASICS              #
    ##################################### */
    p {
        margin: 0;
        font-family: Futura;
        font-size: 20px;
        }            
    /* ##################################
    #    HEADER                         #
    ##################################### */
    h1 {
        font-family: "DunbarLow";
        font-size: 22px;
        text-transform: uppercase;
        text-align: center;
    }
    /* ##################################
    #    IMAGE                          #
    ##################################### */
    main {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .img {
        width: 100%;
        padding-top: 90px;
    }
    .img img {
        width: 100%;
    }
    /* ##################################
    #    BOUTONS DU BAS                 #
    ##################################### */
    .welcome-btn {
        font-family: "Futura";
        display: flex;
        justify-content: space-between;
    }
    a {
        display: block;
        width: 45%;
        padding: 10px 0;
        background: white;
        border-radius: 6px;
        box-shadow: 0 6px 8px rgba(0,0,0,.16);
        color: black;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
</style>

<div class="container">
    <header>
        <h1>CONNEXION</h1> 
    </header>

    <main>
        <!-- image -->
        <div class="img">
            <img src="{{ asset('assets/img/perso_couleur.png') }}">
        </div>
        <!-- Bouttons -->
        <div class="welcome-btn">
            <a href="{{ path('app_login') }}" class="welcome-text">Se connecter</a>
            <a href="{{ path('app_register') }}" class="welcome-text">S'inscrire</a>
        </div>            
    </main> 
</div>

<!--
<div class="container">
    welcome
    <a href="{{ path('app_login') }}">Se connecter</a>
    <a href="{{ path('app_register') }}">S'inscrire</a>
</div> -->
{% endblock %}