/* ##################################
    #               BASICS              #
    #                                   #
    ##################################### */
body {
  margin: 0;
  font-family: "Proxima";
  font-size: 18px;
  background: url("../img/background.png");
  background-size: contain;
  background-position: fixed;
}
.container {
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 60px);
  max-width: 375px;
}
/* Menu burger */
.menu-wrap {
  position: relative;
  z-index: 2000;
  width: 20px;
  height: 20px;
}
.toggler {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  z-index: 3000;
  opacity: 0;
  cursor: pointer;
}
/* Background du menu burger */
.hamburger {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  pointer-events: none;
}
/* Barres du menu */
.hamburger div {
  position: absolute;
  width: 20px;
  height: 4px;
  border-radius: 100px;
  background-color: #111;
  transition: 0.4s;
}
.hamburger div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 100px;
  background-color: #111;
  top: -7px;
  left: 0;
  transition: 0.4s;
}
.hamburger div:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 100px;
  background-color: #111;
  top: 7px;
  left: 0;
  transition: 0.4s;
}
.toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
.toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: 0.6s;
}
.menu > div {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(150%) translateY(-50%);
  width: 1600px;
  height: 1600px;
  border-radius: 20%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.8s; /* temps de la transition et déroulement du menu */
}
.menu > div > div {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: 0.6s;
  position: relative;
}
.menu > div > div > ul {
  margin: 80px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.menu > div > div > ul > li {
  list-style: none;
  margin: 40px 0;
}
.menu > div > div > ul > li > a {
  text-decoration: none;
  color: black;
  font-weight: 100;
  font-family: Futura;
  margin: 0;
  transition: 0.3s;
  font-size: 20px;
  display: inline-block;
}
.img_menu {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}
.toggler:checked ~ .menu {
  visibility: visible;
}
.toggler:checked ~ .menu > div {
  transform: translateX(50%) translateY(-50%);
}
.toggler:checked ~ .menu > div > div {
  opacity: 1;
}

/* #################################
#       Color - par catégory       #
################################# */
.sport {
  background-color: #ff9fb3;
  fill: #ff9fb3 !important;
}
.exploration {
  background-color: #ffc591;
  fill: #ffc591 !important;
}
.education {
  background-color: #aae7f8;
  fill: #aae7f8 !important;
}
.festif {
  background-color: #f5f292;
  fill: #f5f292 !important;
}
.culturel {
  background-color: #e2c9ff;
  fill: #e2c9ff !important;
}
.bien-etre {
  background-color: #b0ebab;
  fill: #b0ebab !important;
}
.aftersport::after {
  background-color: #ff9fb3;
}
.afterexploration::after {
  background-color: #ffc591;
}
.aftereducation::after {
  background-color: #aae7f8;
}
.afterfestif::after {
  background-color: #f5f292;
}
.afterculturel::after {
  background-color: #e2c9ff;
}
.afterbien-etre::after {
  background-color: #b0ebab;
}
