{% extends 'base.html.twig' %}

{% block title %}News index{% endblock %}

{% block head %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>{% endblock %}

{% block body %}
   
<style>
    /* ##################################
    #               BASICS              #
    #                                   #
    ##################################### */
        p {
            margin: 0;
        }
        main {
            margin-top: 50px;
        }
    
    /* ##################################
    #    HEADER (Menu + titre)          #
    #                                   #
    ##################################### */
        header {
            display:flex;
            align-items: center;
            margin: 30px 0 30px;
        }
        h1 {
            text-align: center;
            margin: 0;
            font-family: "DunbarLow";
            text-transform: uppercase;
            font-size: 22px;
            letter-spacing: 2px;
            flex-grow: 1;
        }
        header span {
            display: block;
            width: 20px;
        }

    /* ################################
    #      FILTRE DE CATEGORIE        #
    #                                 #
    #################################### */


        /* AJOUT DEPUIS CODEPEN */
        .select {
            position: relative;
        }
        .arrow_down {
            width: 35px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            border: 1px solid black;
            box-sizing: border-box;
            pointer-events: none;
        }
        .arrow_down::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #000;
        }
        select {
            /* styling */
            margin: 10px 0 35px;
            display: block;
            width: 100%;
            padding: 10px 20px;
            border-radius: 6px;
            border: none;
            box-shadow: 0 6px 8px rgba(0,0,0,.16);
            -moz-appearance:none; /* Firefox */
            -webkit-appearance:none; /* Safari and Chrome */
            appearance:none;
            font-family: "Proxima";
            font-weight: 200;
            font-size: 16px;
            position: relative;
        }
        option {
            font-family: "Proxima";
            font-weight: 200;
            font-size: 16px;
        }

        {# select.actu-dropdown:focus {
            background: white;
            background-position:
                calc(100% - 15px) 1em,
                calc(100% - 20px) 1em,
                calc(100% - 2.5em) 0.5em;
            background-size:
                5px 5px,
                5px 5px,
                1px 1.5em;
            background-repeat: no-repeat;
            border-color: black;
            outline: 0;
        } #}

    
    /* #################################
    #           Cards                  #
    ################################# */
       .subtitle {
            font-size: 20px;
            font-family: "Futura";
            font-weight: 400;
        }     
       .subtitle::first-letter {
            text-transform: uppercase;
        }     
        .card {
            border-radius:10px;
            position: relative;
            box-shadow: 0 6px 8px rgba(0,0,0,.16);
            padding: 10px 20px;
            margin-bottom: 20px;
        }
        .header_card {
            display: flex;
            justify-content: space-between;
        }
        .card_date {
            font-size: 12px;
            align-self: flex-end;
        }
        .new::before{
            content: 'NEW';
            display: block;
            padding: 3px 7px;
            border-radius: 6px;
            position:absolute;
            top: 0;
            right: 0;
            transform: translate(30%, -50%);
            background: red;
            color: white;
            font-size: 12px;
            font-family: 'Futura';
        }
        .card a::before {
            content: '';
            position: absolute;
            top:0; left:0; right:0; bottom:0;
        }
        .lu {
            width: 20px;
            height: 20px;
            border-radius: 100px;
            background: #8CC63F;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
        }
        .lu::before {
            content: '';
            display: block;
            width: 10px;
            height: 5px;
            border-left: 3px solid #fff;
            border-bottom: 3px solid #fff;
            position: absolute;
            top: 44%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }

</style>
    
<div class="container">
    <header>
        <!-- Menu Burger -->
        <span></span>
        <h1>Actualité</h1>
        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <li><a href="{{ path('homepage') }}">Accueil</a></li>
                            <li><a href="{{ path('news_index') }}">Actualité</a></li>
                            <li><a href="{{ path('profil_user') }}">Profil</a></li>
                            <li><a href="{{ path('rules_index') }}">Règles à suivre</a></li>
                        </ul>
                        <img class="img_menu" src="{{ asset('assets/img/menu_burger_perso.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <main>
        <p class="subtitle">Catégorie</p>
        <div class="select">
            <select>
                <option value="1">Toute les catégories</option>
                {% for fil in filters %}
                    <option  value="{{fil}}">{{ fil }}</option>
                {% endfor %}
            </select>
            <div class="arrow_down"></div>
        </div>
            
        <!-- Les cards d'actu -->
        {% for news in news %}
            {% if news.publishingDate | date('Y-m-d') == "now" | date('Y-m-d') %}
            <div class="card {{ news.tag.name }} new">
            {% else %}
            <div class="card {{ news.tag.name }}">
            {% endif %}
                <div class="header_card">
                    <p class="subtitle">{{ news.tag.name }}</p>
                    <p class="card_date">{{ news.publishingDate ? news.publishingDate|date('d.m.y') : '' }}</p>
                </div>
                <p>{{ news.title }}</p>
                <a href="{{ path('news_show', {'id': news.id}) }}"></a>
                {% for action in news.newsActions %}
                    {% if action.user == app.user %}
                        <div class="lu"></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <tr>
                <td colspan="8">Pas d'actualité enregistrée</td>
            </tr>
        {% endfor %}
    </main> 
</div>
<script>
    $("select").change(function() {
        var open = '.'+$(this).val();
        if ($(this).val() == 1){
            $('.card').show();
        }
        else{
            $('.card').hide();
            $(open).show();
        }
    });
</script>
   <!--  <h1>News index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Abstract</th>
                <th>Description</th>
                <th>Pays</th>
                <th>Publishing_date</th>
                <th>Source</th>
                <th>categroy</th>
                <th>actions</th>
            </tr>
        </thead>
        <select>
            <option value="1">Tout</option>
            {% for fil in filters %}
                <option  value="{{fil}}">{{ fil }}</option>
            {% endfor %}
        </select>
        <tbody>
        {% for news in news %}
            <tr class="{{ news.tag.name }}">
                <td>{{ news.id }}</td>
                <td>{{ news.title }}</td>
                <td>{{ news.abstract }}</td>
                <td>{{ news.description }}</td>
                <td>{{ news.pays }}</td>
                <td>{{ news.publishingDate ? news.publishingDate|date('Y-m-d') : '' }}</td>
                <td>{{ news.source }}</td>
                <td>{{ news.tag.name }}</td>
                <td>
                    <a href="{{ path('news_show', {'id': news.id}) }}">show</a>
                    <a href="{{ path('news_edit', {'id': news.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('news_new') }}">Create new</a>
    <script>
        $("select").change(function() {
            var open = '.'+$(this).val();
            $('tbody tr').hide();
            $(open).show();
        });
    </script> -->
{% endblock %}
