{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>{% endblock %}

{% block body %}

<style>
    body{
        background: none;
    }
    h1{ 
        color: white;
        text-align: center;
        font-family: "DunbarLow";
        text-transform: uppercase;
        font-size: 25px;
        margin: 0;
        padding: 90px 0;
        background: rgba(0,0,0, 0.5);
        position: relative;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    h1::before {
        content: "";
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background: url({{ asset('assets/img/news_' ~ news.tag ~ '.png') }});
        background-size: cover;
        background-position: 50% 50%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
    }
    h1::after {
        content: "{{ news.srcimg }}";
        display: block;
        width: 100%;
        position: absolute;
        bottom: -20px;
        left: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 10px;
        font-family: "Proxima";
        font-weight: 200;
        color: black;
        padding: 20px 0 5px;
        z-index: -2;
        text-transform: none;
    }
    header {
        position: relative;
        margin-bottom: 30px;
    }
    header a {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 25px;
    }
    header a img {
        width: 100%;
    }
    .source{
        text-align: center;
        font-size: 8px;
        margin: 10px 0;
        font-weight: 700;
    }
    h2{
        font-size: 20px;
        font-family: "Futura";
        font-weight: 400;
        margin: 0;
        margin-bottom: 10px;
    }
    p {
        margin: 0;
    }
    .abstract{
        font-size: 16px;
        margin-bottom: 16px;
    }
    .description {
        font-size: 16px;
        font-weight: 200;
        margin-bottom: 20px;
    }
    .plus {
        display: flex;
        text-decoration: none;
        color: #000;
        font-size: 16px;
        padding: 10px 15px;
        border-radius: 6px;
        box-shadow: 0 6px 8px rgba(0,0,0,.16);
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
    .plus .img {
        width: 16px;
    }
    .plus img {
        width: 100%;
        display:block;
    }
    {########################
    #####    MESSAGE     #####
    ##########################}
        .msg-avatar {
            position: relative;
            border-radius: 10px;
            box-shadow: 0 6px 8px rgba(0,0,0,.16);
            padding: 10px 20px 20px;
        }
        .subtitle {
            font-size: 20px;
            font-family: "Futura";
            font-weight: 400;
        }
        .annonce {
            font-weight: 400;
        }
        .new_action {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }
        .new_action a{
            text-decoration: none;
            color: #000;
            width: 40%;
            text-align: center;
            font-size: 12px;
            padding: 8px;
            border: 1px solid #000;
            border-radius: 5px;
        }
        .ok {
            display: none;
            margin-top: 10px;
            text-align: center;
            font-weight: 700;
        }
        .bulle{
            position: absolute;
            top: calc(100% - 21px);
            left: 50px;
            width: 0;
            height: 0;
            border-top: 31px solid transparent;
            border-bottom: 31px solid transparent;
            border-left: 31px solid #fff;
            transform: rotate(-45deg);
        }
        .img-avatar {
            margin: 30px auto 40px;
            width: 124px;
            position: relative;
        }
        .img-avatar img{
            width: 100%;
        }
        .img-avatar img.absolute, svg{
            position: absolute;
            top: 0;
            left: 0;
        }
        svg {
            fill: red !important;
        }

    .social{
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .social p{
        font-size: 16px;
        margin-right: 30px;
        font-weight: 700;
    }
    .social ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        list-style-type: none;
        flex-grow: 1;
    }
    .social li {
        width: 30px;
    }
    .social li img {
        width: 100%;
    }
 
</style>
<header>
    {# <img src="{{ asset('assets/img/Sport.png') }}" alt="image_sport"> #}
    <h1 class="after{{ news.tag }}">{{ news.tag }}</h1>
    <a href="{{ path('news_index') }}">
        <img class="back" src="{{ asset('assets/img/croix_blanche.png') }}" alt="">
    </a>
</header>
<div class="container">
    <div class="source">
        Source {{ news.source }}
    </div>
    <h2 class="titre">
        {{ news.title }}
    </h2>
    <p class="abstract">
        {{ news.abstract }}
    </p>
    <p class="description">
        {{ news.description }}
    </p>
    <a class="plus" href="{{ news.link }}" target="_blank">
        En savoir plus avec l'article source
        <div class="img">
            <img src="{{ asset('assets/img/arrow_right.png') }}" alt="">
        </div>
    </a>

    {% if type.opinion == 0 %}
        <div class="msg-avatar">
            <p class="subtitle">{{ app.user.avatarname }}</p>
            <p class="annonce">Est-ce que ce type d’article t’as intéressé ?</p>
            <div class="new_action">
                <a class="ajax_call" href="{{ path('news_like', {'id': news.id}) }}">OUI</a>
                <a class="ajax_call" href="{{ path('news_dislike', {'id': news.id}) }}">NON</a>
            </div>
            <p class="ok">C'est noté !</p>
            
            <div class="bulle"></div>
        </div>
        <div class="img-avatar">
            <img src="{{ asset('assets/img/img-' ~ app.user.avatar ~ '.svg') }}">
            {% for event in eventsAccepted %}
                {% if event.getEvent.getId == 1 %}
                    <svg version="1.1" id="Calque_7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 350 440" style="enable-background:new 0 0 350 440;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#FCF797;}
                            .st1{opacity:0.37;fill:#FFFFFF;}
                            .st2{fill:none;stroke:#141412;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                        </style>
                        <polyline class="st0 {{ app.user.avatar }}" points="97.71,58.81 108.43,81.87 109.87,86.92 90.69,102.89 76.78,124.38 74.2,136.35 78.87,139.29 
                            108.31,127.96 118.17,125.17 122.59,128.24 123.94,132.47 133.46,122.88 153.14,99.09 154.35,114.16 158.56,113.59 162.33,104.13 
                            161.57,90.68 132.56,76.2 97.71,58.81 "/>
                        <polyline class="st1" points="97.71,58.35 108.43,81.41 109.87,86.47 90.69,102.44 76.78,123.92 74.2,135.9 78.87,138.84 
                            108.31,127.51 118.17,124.72 122.59,127.79 123.94,132.02 133.46,122.42 153.14,98.64 154.35,113.71 158.56,113.13 162.33,103.68 
                            161.57,90.23 132.56,75.75 97.71,58.35 "/>
                        <path class="st2" d="M95.89,57.9l65.67,32.78c0,0,2.52,15.04-1.56,21.11c-7.36,10.93-6.86-12.69-6.86-12.69
                            s-30.92,40.47-30.49,30.49c0.83-19.18-59.96,32.2-46.78-2.9s38.08-33.09,33.56-42.73C106.5,77.68,95.89,57.9,95.89,57.9z"/>
                    </svg>
                {% endif %}
                {% if event.getEvent.getId == 2 %}
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" 
                    viewBox="0 0 350 440" style="enable-background:new 0 0 350 440;" xml:space="preserve">
                        <style type="text/css">
                            .st24{fill:#D995A0;}
                            .st25{opacity:0.25;fill:#FFFFFF;}
                            .st26{fill:none;stroke:#141412;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                        </style>
                        <g id="Calque_11">
                            <polyline class="st24 {{ app.user.avatar }}" points="81.35,290.23 78.08,291.97 77.12,300.61 78.43,307.8 82.09,324.61 84.3,332.16 90.61,336.06 
                                107.64,334.56 130.7,325.86 156.36,313.6 177.87,303 196.08,293.1 214.42,282.74 241.28,266.33 260.87,255.12 270.82,248.39 
                                273.39,245.82 289.42,237.26 299.26,242.97 309.92,244.05 317.95,236.94 317.48,231.81 310.14,231.81 293.85,235.2 293.83,232.42 
                                301.24,222.46 304.62,216.21 304.36,212.34 299.26,213.21 294.32,218.76 290.37,230.42 289.66,235.78 285.69,238.43 270.55,246.29 
                                249.67,256.28 217.9,271.46 193.13,280.99 167.78,286.85 147.51,289.13 121.56,290.14 102.05,290.23 81.35,290.23 	"/>
                            <polyline class="st25" points="81.35,290.23 78.08,291.97 77.12,300.61 78.43,307.8 82.09,324.61 84.3,332.16 90.61,336.06 
                                107.64,334.56 130.7,325.86 156.36,313.6 177.87,303 196.08,293.1 214.42,282.74 241.28,266.33 260.87,255.12 270.82,248.39 
                                273.39,245.82 289.42,237.26 299.26,242.97 309.92,244.05 317.95,236.94 317.48,231.81 310.14,231.81 293.85,235.2 293.83,232.42 
                                301.24,222.46 304.62,216.21 304.36,212.34 299.26,213.21 294.32,218.76 290.37,230.42 289.66,235.78 285.69,238.43 270.55,246.29 
                                249.67,256.28 217.9,271.46 193.13,280.99 167.78,286.85 147.51,289.13 121.56,290.14 102.05,290.23 81.35,290.23 	"/>
                            <path class="st26" d="M289.42,237.26c0,0-38.97,18.63-67.79,32.45c-46.89,22.48-80.1,20.47-143.55,20.47"/>
                            <path class="st26" d="M78.08,290.19c0,0-3.92,11.64,0.56,19.65c6.72,12.02,0.06,17.01,7.11,23.98
                                c21.19,20.97,203.67-96.56,203.67-96.56"/>
                            <path class="st26" d="M289.42,237.26c0,0,3.52-25.85,13.3-24.9S289.42,237.26,289.42,237.26"/>
                            <path class="st26" d="M289.42,237.26c22.71,17.03,30.64-0.93,29.07-4.72C316.91,228.76,289.42,237.26,289.42,237.26z"/>
                        </g>
                    </svg>
                {% endif %}
                {% if true %}
                    <img class="absolute" src="{{ asset('assets/img/base.svg') }}">
                {% endif %}

            {% else %}
                <img class="absolute" src="{{ asset('assets/img/base.svg') }}">
            {% endfor %}
        </div>
    {% endif %}
</div>

<div class="social {{ news.tag }}">
    <p>
        Partagez sur
    </p>
    <ul>
        <li><a href="#"><img src="{{ asset('assets/img/logo_fb.png') }}" alt=""></a></li>
        <li><a href="#"><img src="{{ asset('assets/img/logo_linkedin.png') }}" alt=""></a></li>
        <li><a href="#"><img src="{{ asset('assets/img/logo_mail.png') }}" alt=""></a></li>
        <li><a href="#"><img src="{{ asset('assets/img/logo_twitter.png') }}" alt=""></a></li>
    </ul>
</div>










<script>
    $('.ajax_call').click(function (e) {
        e.preventDefault();
        let link = $(this).attr('href');
        $('.new_action').hide();
        $('.ok').show();
        $.ajax(link);
    })
</script>




{% endblock %}