<form method="post" action="{{ path('rules_delete', {'id': rule.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rule.id) }}">
    <button class="btn">Delete</button>
</form>
