{% extends 'base.html.twig' %}

{% block title %}Rules index{% endblock %}

{% block body %}
    
<style>
    /* ##################################
    #               BASICS              #
    #                                   #
    ##################################### */
        p {
            margin: 0;
        }

    
    /* ##################################
    #    HEADER (Menu + titre)          #
    #                                   #
    ##################################### */
        header {
            display:flex;
            align-items: center;
            margin: 30px 0 30px;
        }
        h1 {
            text-align: center;
            margin: 0;
            font-family: "DunbarLow";
            text-transform: uppercase;
            font-size: 22px;
            letter-spacing: 2px;
            flex-grow: 1;
        }
        header span {
            display: block;
            width: 20px;
        }

    /* #################################
       #   Cards                       #
       ################################# */
    main {
        margin-top: 50px;
    }
    .rule {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 6px 8px rgba(0,0,0,.16);
        margin-bottom: 20px;
        padding: 10px 20px 20px;
        display: flex;
    }
    .rule_info {
        display: flex;
        flex-direction: column;
        width: 10px;
        flex-grow: 1;
        margin-right: 10px;
    }
    .rule_title {
        font-family: "Futura";
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 5px;
    }
    .rule_description {
        font-weight: 200;
        font-size: 16px;
        flex-grow: 1;
        margin-bottom: 16px;
    }
    .rule_end {
        font-weight: 200;
        font-size: 16px;
        justify-self: flex-end;
    }
    .rule_img {
        width: 90px;
    }
    .rule_img img {
        width: 100%;
    }
</style>
    
<div class="container">
    <header>
        <!-- Menu Burger -->
        <span></span>
        <h1>Règles à suivre</h1>
        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <li><a href="{{ path('homepage') }}">Accueil</a></li>
                            <li><a href="{{ path('news_index') }}">Actualité</a></li>
                            <li><a href="{{ path('profil_user') }}">Profil</a></li>
                            <li><a href="{{ path('rules_index') }}">Règles à suivre</a></li>
                        </ul>
                        <img class="img_menu" src="{{ asset('assets/img/menu_burger_perso.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        {% for rule in rules %}
            <div class="rule">
                <div class="rule_info">
                    <p class="rule_title">{{ rule.title }}</p>
                    <p class="rule_description">{{ rule.description }}</p>
                    <p class="rule_end">Date de fin: {{ rule.endDate ? rule.endDate|date('Y-m-d') : 'indéfini' }}</p>
                </div>
                <div class="rule_img">
                    <img src="{{ asset('assets/img/rule_' ~ rule.id ~ '.png') }}">
                </div>
            </div>
            <!--
                <a href="{{ path('rules_show', {'id': rule.id}) }}">show</a>
                <a href="{{ path('rules_edit', {'id': rule.id}) }}">edit</a>
            -->
        {% else %}
            <p>Pas de rules enregistré</p>
        {% endfor %}
        <!-- Cards des rules -->
    </main>
    {# <a href="{{ path('rules_new') }}">Create new</a> #}
</div>

    
{% endblock %}
