{% extends 'base.html.twig' %}

{% block title %}New Rules{% endblock %}

{% block body %}
    <h1>Create new Rules</h1>

    {{ include('rules/_form.html.twig') }}

    <a href="{{ path('rules_index') }}">back to list</a>
{% endblock %}
