{% extends 'base.html.twig' %}

{% block title %}Rules{% endblock %}

{% block body %}
    <h1>Rules</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rule.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ rule.title }}</td>
            </tr>
            <tr>
                <th>Abstract</th>
                <td>{{ rule.abstract }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ rule.description }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ rule.pays }}</td>
            </tr>
            <tr>
                <th>Publishing_date</th>
                <td>{{ rule.publishingDate ? rule.publishingDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>End_date</th>
                <td>{{ rule.endDate ? rule.endDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rules_index') }}">back to list</a>

    <a href="{{ path('rules_edit', {'id': rule.id}) }}">edit</a>

    {{ include('rules/_delete_form.html.twig') }}
{% endblock %}
