<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/font/fonts.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/master.css') }}" />
        <link rel="icon" type="image/png" href="{{ asset('assets/img/logo.png') }}" />

        {% block head %}{% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# <a href="{{ path('homepage') }}">Home</a>
        <a href="{{ path('app_register') }}">Register</a>
        <a href="{{ path('app_login') }}">Sign In</a> #}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
