@font-face {
  font-family: "Proxima";
  font-style: normal;
  font-weight: 400;
  src: url("./FontsFree-Net-proxima_nova_reg-webfont.ttf");
}
@font-face {
  font-family: "Proxima";
  font-style: normal;
  font-weight: 200;
  src: url("./FontsFree-Net-Proxima-Nova-Light.otf");
}
@font-face {
  font-family: "Proxima";
  font-style: normal;
  font-weight: 700;
  src: url("./FontsFree-Net-Proxima-Nova-Sbold.otf");
}
@font-face {
  font-family: "Futura";
  font-style: normal;
  font-weight: 400;
  src: url("./FuturaPTDemi.otf");
}
@font-face {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  src: url("./FuturaPTBold.otf");
}
@font-face {
  font-family: "DunbarLow";
  font-style: normal;
  font-weight: 400;
  src: url("./DunbarLow\ Bold.otf");
}
