{% extends 'base.html.twig' %}

{% block title %}Profil User{% endblock %}

{% block body %}
   
   {#   
    <div class="container">
        <h1>Profil</h1>

        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('homepage') }}">back</a>
    </div>
    #}
    
<style>
    header {
        display:flex;
        align-items: center;
        margin: 30px 0 30px;
    }
    h1 {
        text-align: center;
        margin: 0;
        font-family: "DunbarLow";
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 2px;
        flex-grow: 1;
    }
    header span {
        display: block;
        width: 20px;
    }
    header span img {
        width: 100%;
    }

    .globe{
        display: grid;
        grid-template-columns: 1fr 40% 1fr;
    }
    .interest.right p{
        text-align: right;
    }
    .interest.right .xp{
        text-align: left;
    }

    .category{
        font-family: "Proxima";
        font-size: 16px;
        margin: 0;
    }
    .xp {
        border-radius: 5px;
        text-align: right;
        font-size: 12px;
        padding: 2px;
        margin-bottom: 15px;
        box-shadow: 0 6px 8px rgba(0,0,0,.16);
    }

    .img-avatar {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        text-align: center;
        margin: 20px 0 10px;
        width: 100%;
        position: relative;
    }
    .img-avatar img{
        width: 100%;
    }
    .img-avatar img.absolute, svg{
        position: absolute;
        top: 0;
        left: 0;
    }
    svg {
        fill: red !important;
    }
    .nom_avatar{
        text-align: center;
        font-family: "Futura";
        font-size: 24px;
        margin-bottom: 20px;
    }
    label {
        font-family: "Futura";
        font-size: 20px;
        display: block;
        margin-bottom: 10px;
    }
    input, select {
        width: 100%;
        padding: 10px;
        font-weight: 200;
        border-radius: 6px;
        border: none;
        box-shadow: 0 6px 8px rgba(0,0,0,.16);
        margin-bottom: 20px;
    }
    select {
        margin-bottom: 40px;
    }
    .btn {
        width: 100%;
        padding: 15px;
        background: white;
        box-shadow: 0 6px 8px rgba(0,0,0,.16);
        border: none;
        border-radius: 6px;
        margin-bottom: 30px;
        font-family: "Futura";
        font-size: 16px;
        font-weight: 700;
    }
</style>

<div class="container">
    <header>
        <span><a href="{{ path('settings_user') }}"><img src="{{ asset('assets/img/parametre_logo.png') }}" alt=""></a></span>
        <h1>Profil</h1>
        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <li><a href="{{ path('homepage') }}">Accueil</a></li>
                            <li><a href="{{ path('news_index') }}">Actualité</a></li>
                            <li><a href="{{ path('profil_user') }}">Profil</a></li>
                            <li><a href="{{ path('rules_index') }}">Règles à suivre</a></li>
                        </ul>
                        <img class="img_menu" src="{{ asset('assets/img/menu_burger_perso.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="globe">
            <div class="interest">
                <p class="category">Sport</p>
                <div class="xp sport">
                    <span class="xp_actuel">
                        {% if 'sport' in interets %}
                            {% for interet in interets %}
                                {% if interet.category == 'sport' %}
                                    {{ interet.xp }}pts
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        0pt
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="interest right">
                <p class="category">Éducatif</p>
                <div class="xp education">
                    <span class="xp_actuel">
                        {% if 'education' in interets %}
                            {% for interet in interets %}
                                {% if interet.category == 'education' %}
                                    {{ interet.xp }}pts
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        0pt
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="interest">
                <p class="category">Festif</p>
                <div class="xp festif">
                    <span class="xp_actuel">
                        {% if 'festif' in interets %}
                            {% for interet in interets %}
                                {% if interet.category == 'festif' %}
                                    {{ interet.xp }}pts
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        0pt
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="interest right">
                <p class="category">Culture</p>
                <div class="xp culturel">
                    <span class="xp_actuel">
                        {% if 'culturel' in interets %}
                            {% for interet in interets %}
                                {% if interet.category == 'culturel' %}
                                    {{ interet.xp }}pts
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        0pt
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="interest">
                <p class="category">Bien-être</p>
                <div class="xp bien-etre">
                    <span class="xp_actuel">
                        {% if 'bien-etre' in interets %}
                            {% for interet in interets %}
                                {% if interet.category == 'bien-etre' %}
                                    {{ interet.xp }}pts
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        0pt
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="interest right">
                <p class="category">Exploration</p>
                <div class="xp exploration">
                    <span class="xp_actuel">
                        {% if 'exploration' in interets %}
                            {% for interet in interets %}
                                {% if interet.category == 'exploration' %}
                                    {{ interet.xp }}pts
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        0pt
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="img-avatar">
                <img src="{{ asset('assets/img/img-' ~ app.user.avatar ~ '.svg') }}">
                {% for event in eventsAccepted %}
                    {% if event.getEvent.getId == 1 %}
                        <svg version="1.1" id="Calque_7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 350 440" style="enable-background:new 0 0 350 440;" xml:space="preserve">
                            <style type="text/css">
                                .st0{fill:#FCF797;}
                                .st1{opacity:0.37;fill:#FFFFFF;}
                                .st2{fill:none;stroke:#141412;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                            </style>
                            <polyline class="st0 {{ app.user.avatar }}" points="97.71,58.81 108.43,81.87 109.87,86.92 90.69,102.89 76.78,124.38 74.2,136.35 78.87,139.29 
                                108.31,127.96 118.17,125.17 122.59,128.24 123.94,132.47 133.46,122.88 153.14,99.09 154.35,114.16 158.56,113.59 162.33,104.13 
                                161.57,90.68 132.56,76.2 97.71,58.81 "/>
                            <polyline class="st1" points="97.71,58.35 108.43,81.41 109.87,86.47 90.69,102.44 76.78,123.92 74.2,135.9 78.87,138.84 
                                108.31,127.51 118.17,124.72 122.59,127.79 123.94,132.02 133.46,122.42 153.14,98.64 154.35,113.71 158.56,113.13 162.33,103.68 
                                161.57,90.23 132.56,75.75 97.71,58.35 "/>
                            <path class="st2" d="M95.89,57.9l65.67,32.78c0,0,2.52,15.04-1.56,21.11c-7.36,10.93-6.86-12.69-6.86-12.69
                                s-30.92,40.47-30.49,30.49c0.83-19.18-59.96,32.2-46.78-2.9s38.08-33.09,33.56-42.73C106.5,77.68,95.89,57.9,95.89,57.9z"/>
                        </svg>
                    {% endif %}
                    {% if event.getEvent.getId == 2 %}
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" 
                        viewBox="0 0 350 440" style="enable-background:new 0 0 350 440;" xml:space="preserve">
                            <style type="text/css">
                                .st24{fill:#D995A0;}
                                .st25{opacity:0.25;fill:#FFFFFF;}
                                .st26{fill:none;stroke:#141412;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                            </style>
                            <g id="Calque_11">
                                <polyline class="st24 {{ app.user.avatar }}" points="81.35,290.23 78.08,291.97 77.12,300.61 78.43,307.8 82.09,324.61 84.3,332.16 90.61,336.06 
                                    107.64,334.56 130.7,325.86 156.36,313.6 177.87,303 196.08,293.1 214.42,282.74 241.28,266.33 260.87,255.12 270.82,248.39 
                                    273.39,245.82 289.42,237.26 299.26,242.97 309.92,244.05 317.95,236.94 317.48,231.81 310.14,231.81 293.85,235.2 293.83,232.42 
                                    301.24,222.46 304.62,216.21 304.36,212.34 299.26,213.21 294.32,218.76 290.37,230.42 289.66,235.78 285.69,238.43 270.55,246.29 
                                    249.67,256.28 217.9,271.46 193.13,280.99 167.78,286.85 147.51,289.13 121.56,290.14 102.05,290.23 81.35,290.23 	"/>
                                <polyline class="st25" points="81.35,290.23 78.08,291.97 77.12,300.61 78.43,307.8 82.09,324.61 84.3,332.16 90.61,336.06 
                                    107.64,334.56 130.7,325.86 156.36,313.6 177.87,303 196.08,293.1 214.42,282.74 241.28,266.33 260.87,255.12 270.82,248.39 
                                    273.39,245.82 289.42,237.26 299.26,242.97 309.92,244.05 317.95,236.94 317.48,231.81 310.14,231.81 293.85,235.2 293.83,232.42 
                                    301.24,222.46 304.62,216.21 304.36,212.34 299.26,213.21 294.32,218.76 290.37,230.42 289.66,235.78 285.69,238.43 270.55,246.29 
                                    249.67,256.28 217.9,271.46 193.13,280.99 167.78,286.85 147.51,289.13 121.56,290.14 102.05,290.23 81.35,290.23 	"/>
                                <path class="st26" d="M289.42,237.26c0,0-38.97,18.63-67.79,32.45c-46.89,22.48-80.1,20.47-143.55,20.47"/>
                                <path class="st26" d="M78.08,290.19c0,0-3.92,11.64,0.56,19.65c6.72,12.02,0.06,17.01,7.11,23.98
                                    c21.19,20.97,203.67-96.56,203.67-96.56"/>
                                <path class="st26" d="M289.42,237.26c0,0,3.52-25.85,13.3-24.9S289.42,237.26,289.42,237.26"/>
                                <path class="st26" d="M289.42,237.26c22.71,17.03,30.64-0.93,29.07-4.72C316.91,228.76,289.42,237.26,289.42,237.26z"/>
                            </g>
                        </svg>
                    {% endif %}
                    {% if true %}
                        <img class="absolute" src="{{ asset('assets/img/base.svg') }}">
                    {% endif %}

                {% else %}
                    <img class="absolute" src="{{ asset('assets/img/base.svg') }}">
                {% endfor %}
            </div>
        </div>

        <div class="nom_avatar">{{ user.avatarname }}</div>

        {{ include('user/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
    </main>
</div>

{% endblock %}
