{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    



<style>
    header {
        display:flex;
        align-items: center;
        margin: 30px 0 30px;
    }
    h1 {
        text-align: center;
        margin: 0;
        font-family: "DunbarLow";
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 2px;
        flex-grow: 1;
    }
    header span {
        display: block;
        width: 20px;
    }
    header span img {
        width: 100%;
    }
    .one{
        margin-top: 140px;
    }
    .two{
        margin-top: 45px;
    }
    main a {
        display: block;
        color: #000;
        text-decoration: none;
        font-family: "Futura";
        font-size: 16px;
        background: #fff;
        text-align: center;
        padding: 10px;
        border-radius: 6px;
        box-shadow: 0 6px 8px rgba(0,0,0,.16);
        margin-bottom: 20px;
    }

</style>
<div class="container">
    <header>
        <span><a href="{{ path('profil_user') }}"><img src="{{ asset('assets/img/arrow_left.png') }}" alt=""></a></span>
        <h1>Paramètres</h1>
        <span></span>
    </header>

    <main>
        <div class="one">  
            <a href="{{ path('confi') }}">
               Charge de confidentialité
            </a>  
            <a href="{{ path('condi') }}">
                Condition générale
            </a>
        </div>
        <div class="two">
            <a href="{{ path('app_logout') }}">
                Déconnexion
            </a>
        </div>
    </main>
</div>

{% endblock %}